/* src/components/Loaders/FullScreenLoader.css */

/* --- FullScreenLoader Container Styles --- */
.fullscreen-loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it's on top of everything */

  /* Use the globally defined CSS variables for background and text */
  background-color: var(
    --loader-bg
  ); /* This will be --color-bg-light or --color-bg-dark */
  color: var(
    --loader-text
  ); /* This will be --color-text-light or --color-text-dark */

  transition: background-color 0.2s, color 0.2s; /* Smooth transition for theme change */
}

/* --- LOADER SPECIFIC STYLES --- */
.loader-wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.loader-circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  /* Use the globally defined CSS variable for circle color */
  background-color: var(--loader-circle-color);
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.loader-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.loader-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.loader-shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  /* Use the globally defined CSS variable for shadow color */
  background-color: var(--loader-shadow-color);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.loader-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.loader-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
